.four-right-ctn {
    width: 40%;
    height: 45rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5rem;
}

.four-right-ctn:hover {
    opacity: 1;
}

.four-right-ctn h1 {
    opacity: 0.9;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.four-right-ctn h1:hover {
    opacity: 1;
}

.industry-text {
    height: 5.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    opacity: 0.9;
}

.industry-text:hover {
    opacity: 1;
}

.main-industries {
    height: 2rem;
    margin-top: 1.5rem;
    opacity: 0.9;
}

.main-industries:hover {
    opacity: 1;
}

.industries-ctn {
    height: 12rem;
    width: 34rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 3rem;
}

.industry {
    width: 6rem;
    height: 5rem;
    margin: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    background-color: #1D1D1F;
    box-shadow: 
	2px 2px 4px rgba(0, 0, 0, 0.75),
	inset 2px 2px 3px rgba(255, 255, 255, 0.25),
	inset -3px -3px 5px rgba(0, 0,0 ,0.5);
    color: #d13939;
    transition: 400ms;
}

.industry-top-layer {
    position: absolute;
    width: 6rem;
    height: 5rem;
    z-index: 999;
    cursor: pointer;
  }

.industry:hover {
   transform: scale(1.05);
    transition: 400ms;
}

.clicked {
    background: #1d4230f8;
    box-shadow: 
      2px 2px 4px rgba(255, 255, 255, 0.25),
      inset 2px 2px 3px rgba(0, 0, 0, 0.25),
      inset 2px 2px 3px rgba(0, 0, 0, 0.25);
    color: #f6f6f9;
}

@media(max-width: 678px) {
    .four-right-ctn {
        width: 85%;
        height: 40vh;
        padding-left: 0;
    }

    .four-right-ctn h1 {
        opacity: 1;
        font-size: 2rem;
    }

    .industries-ctn {
        height: 8rem;
        width: 100%;
        margin-top: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .industry {
        width: 3.2rem;
        height: 3rem;
        margin: 0.2rem 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
    }
    
    .industry-text {
        display: none;
    }

    .main-industries {
        height: 1rem;
        margin-top: 1rem;
        opacity: 1;
    }

    .industry-top-layer {
        width: 3rem;
        height: 3rem;
      }
  
}