.four-right-ctn {
    width: 38rem;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.four-right-ctn h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.industry-text {
    height: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.projects-btn {
    margin-top: 1.5rem;
    height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8rem;
    font-weight: 300;
}

.history-btn {
    height: 3.5rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b2727; 
    border-radius: 0.1rem;
    margin: 0 1.5rem 0 0;
    cursor: pointer;
    transition: 800ms;
    font-size: 1rem;
}

 .history-btn:hover {
    background-color: #d13939;
}
    
.history-btn p {
    margin-right: 0.4rem;
}

@media(max-width: 768px) {
    .four-right-ctn {
        width: 85%;
        height: 30rem;
        padding-left: 0;
        margin-top: 2rem;
    }

    .four-right-ctn h1 {
        font-size: 2.5rem;
    }

    .industry-text {
        height: 12rem;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .history-btn {
        height: 3rem;
        width: 11rem;
        transition: 800ms;
        font-size: 1rem;
    }

    .projects-btn {
        margin-top: 1rem;
        height: 3rem;
        font-size: 1rem;
    }
}

@media(max-width: 1350px) and (min-width: 769px) {
    .four-right-ctn {
        width: 40%;
        padding-left: 0;
        height: unset;
    }

    .four-right-ctn h1 {
        opacity: 1;
        font-size: 2.5rem;
    }

    .industry-text {
        font-size: 1.2rem;
        height: 100%;
      }

    .history-btn {
        height: 3rem;
        width: 11rem;
        border-radius: 0.1rem;
    }
    .projects-btn {
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
  
    .industry-text {
      height: 7rem;
    }

    .four-right-ctn {
        width: 80%;
    }
  }