.App {
  font-family: 'Work Sans', sans-serif;
}

.vertical-nav {
  position: fixed;
  width: 1.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.section {
  height: 100vh;
  position: sticky;
  display: flex;
}
.one {
  background-color: #1D1D1F;
  align-items: center;
  justify-content: center;
}

.one-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  padding-left: 16%;
}

.one-right {
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 12%;
  margin-left: 10%;
}

.two {
  background-color: #8b2727;
  align-items: center;
  justify-content: center;
}

.three {
  align-items: center;
  justify-content: center;  
  background-color: #1D1D1F;
}

.four {
  justify-content: space-evenly;
  align-items: center;
	background-color: #8b2727;
  height: 100vh;
}

.four-ctn {
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-projects-ctn {
  width: 65%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: #fff;
  opacity: 0;
}

.five {
  align-items: center;
  justify-content: center;
  height: 153vh;
}

.six {
  height: 100vh;
}

.unpinned-sectionsection {
  background-color: #1D1D1F;
  position: sticky;
  display: flex;
}


@media(max-width: 678px) {
  .one {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }

  .one-left {
    padding-left: 0;
    margin-top: 5%;
    width: 70%;
  }
  
  .one-right {
    padding-right: 0;
    width: 85%;
    margin-left: 0;
  }

  .vertical-nav {
    display: none;
  }

  .two {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .three {
    flex-direction: column;
  }
  
  .four-ctn {
    flex-direction: column-reverse;
    height: 90vh;
  }

  .four-projects-ctn {
    width: 80%;
    height: 80vh;
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    margin-left: 1rem;
  }
}