.three-left-ctn {
    color: #fff;
    width: 38rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.doing-business-heading h1 {
    text-transform: uppercase;
    font-size: 4rem;   
    padding-right: 2rem;
}

.business-text {
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 1.45rem;
}

.business-text p {
    margin-bottom: 1rem;
}

.supply-btn {
    height: 3.5rem;
    margin-top: 0.5rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b2727;
    border-radius: 0.1rem;
    font-size: 1rem;
    font-weight: 300;
    transition: 800ms;
    cursor: pointer;
}

.supply-btn:hover {
    background: #d13939;
}

.supply-btn p {
    margin-right: 0.4rem;
}

#arrow3 {
    opacity: 0.1;
}

@media(max-width: 768px) {
    .three-left-ctn {
        width: 85%;
        height: 50%;
        margin-right: 0;
        margin-top: 1rem;
    }

    .doing-business-heading h1 {
        font-size: 2.5rem;
        padding-right: 0;   
    }

    .business-text {
        height: 11rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .supply-btn {
        height: 3rem;
        margin-top: 1rem;
        width: 11rem;
        font-size: 1rem;
    }
    
  }

  @media(max-width: 1350px) and (min-width: 769px) { 
    .three-left-ctn {
        margin-right: 0;
        width: 40%;
    }

    .doing-business-heading h1 {
        font-size: 2.5rem;
        padding-right: 0;   
    }

    .business-text {
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 1.2rem;
    }

    .supply-btn {
        height: 3rem;
        margin-top: 1rem;
        width: 11rem;
        font-size: 1rem;
    }
  }

  
  @media (max-width: 768px) and (orientation: landscape) {
  
    .three-left-ctn {
        width: 80%;
    }
    .business-text {
        height: 5.5rem;
    }
  }