.git-btn {
  width: 16rem;
  height: 2.5rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  z-index: 3;
}

.git-btn a:hover {
  transition: 800ms;
  cursor: pointer;
  font-size: 1rem;
  width: 8rem;
  background-color: #D13939;
}

.git-btn a {
  text-decoration: none;
  color: #f6f6f9;
  width: 8rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
  display: none;
}

#burger-menu-icon {
  display: none;
}

@media(max-width: 768px) {
  .git-btn {
    width: 12rem;
    padding: 0.3rem;
    height: 2rem;
    margin: 2px 0;
    font-size: 0.8rem;
    justify-content: flex-start;
    background-color: #1d1d1d;;
  }

  .btn1, .btn2, .btn3, .btn4, .btn5{
    display: flex;
  }

  .burger-menu-btn-ctn {
    background-color: rgb(92, 92, 92);
    padding: 2px 4px;
    margin-top: 4px;
    color: #f6f6f9;
    border-radius: 0.1rem;
  }

  #burger-menu-icon {
    display: block;
    margin: 0 8px 0 4px;
    color: #D13939;
  }

  .git-btn a.career-top-btn {
    display: none;
  }

  .git-btn a {
    justify-content: flex-start;
  }

  .git-btn a:hover {
    font-size: 0.8rem;
    background-color: transparent;
  }

}

@media(max-width: 1024px) and (min-width: 768px) {
  .git-btn {
    width: 12rem;
    padding: 0.3rem;
    height: 2rem;
    margin: 2px 0;
    font-size: 0.8rem;
    justify-content: flex-start;
    background-color: #1d1d1d;;
    text-transform: capitalize;
  }

  .git-btn a {
    background-color: none;
  }

  .btn1, .btn2, .btn3, .btn4 {
    display: flex;
  }

  .burger-menu-btn-ctn {
    background-color: rgb(92, 92, 92);
    padding: 2px 4px;
    margin-top: 4px;
    color: #f6f6f9;
    border-radius: 0.1rem;
  }

  #burger-menu-icon {
    display: block;
    margin: 0 8px 0 4px;
    color: #D13939;
  }

  .git-btn a.career-top-btn {
    display: none;
  }

  .git-btn a {
    justify-content: flex-start;
  }

  .git-btn a:hover {
    font-size: 0.8rem;
    background-color: transparent;
  }

}